<template>
  <div class="container">
    <v-btn outline fab @click="googleSignIn" color="white"><v-icon>mdi mdi-google</v-icon></v-btn>
  </div>
</template>

<script>
export default {
  created: async function() {
  }
}
</script>

<script>
export default({
  methods: {
     googleSignIn () {
        this.provider = new firebase.auth.GoogleAuthProvider();
        this.$fire.auth().signInWithPopup(this.provider).then(result => {
          // store the user ore wathever
          this.$router.push('/')
        }).catch(e => {
          this.$snotify.error(e.message)
          console.log(e)
        })
      }
  },
})
</script>
