<template>
  <v-row justify="center" class="mt-16">
    <div style="width:800px">
      <h2 class="text-center">Vue Js Google Maps with Multiple Markers Example</h2>
  
      <gmap-map
        :center="center"
        :zoom="10"
        style="width:100%;  height: 555px;">
        <gmap-marker
          :key="index"
          v-for="(gmp, index) in locations"
          :position="gmp"
          @click="center=gmp"
        ></gmap-marker>
      </gmap-map>
    </div>
  </v-row>
</template>
 
<script>
export default {
  name: "DrawGoogleMap",
  data() {
    return {
      center: { 
          lat: 39.7837304, 
          lng: -100.4458825 
      },
      locations: [],
      currentLocation: null
    };
  },
 
  mounted() {
    this.setLocationLatLng();
  },
 
  methods: {
    setPlace(loc) {
      this.currentLocation = loc;
    },
    setLocationLatLng: function() {
        navigator.geolocation.getCurrentPosition(geolocation => {
          this.center = {
            lat: geolocation.coords.latitude,
            lng: geolocation.coords.longitude
          };
        });
 
        this.locations = [
          { lat: -6.960848, lng: 107.966894 },
          { lat: -92.587825, lng: 21.895907 }
      ];
 
    }
  }
};
</script>