<template>
  <v-card>
    <v-toolbar
      flat
      color="primary"
      dark
    >
    <v-toolbar-title>vue-test</v-toolbar-title>
    </v-toolbar>
    <v-tabs vertical>
      <v-tab>
        <v-icon left>
          mdi-map
        </v-icon>
        Test 1
      </v-tab>
      <v-tab>
        <v-icon left>
          mdi-account
        </v-icon>
        test 2
      </v-tab>
      <v-tab>
        <v-icon left>
          mdi-database
        </v-icon>
        test 3
      </v-tab>

      <v-tab-item>
        <v-card flat>
          <TestOne />
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card flat>
          <TestTwo />
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card flat>
          <TestThree />
        </v-card>
      </v-tab-item>
    </v-tabs>
  </v-card>
</template>

<script>
export default {
  name: 'IndexPage'
}
</script>
